<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <title>먹고해 | 메인페이지</title>
    <style>
        .rightbutton {
            width: 390px;
            
            text-align: right;
        }
        .centerbutton {
            width: 390px;
            
            text-align: center;
        }
        .lefttextbox {
            text-align: left;
        }
    </style>
</head>

<body>
    <div class = "rightbutton">
        <button>로그아웃</button> <button>글쓰기</button>
        <div style = "width:180px; border: 1px dotted;"> <div class = "lefttextbox"> 먹고싶은걸 고르셨다면?</div></div>
        <hr width = "100%" color = "black">
        
            <div class = "centerbutton">
                <button> 치킨 </button><button> 햄버거 </button><button> 족발/보쌈 </button><button> 중식 </button> <br>
                <button> 피자 </button><button> 분식 </button><button> 일식 </button><button> 디저트 </button><button> 기타 </button>
            </div>
            <hr width = "100%" color = "black">
        <div style = "width:180px; border: 1px dotted;"> <div class = "lefttextbox"> 뭐 먹을지 모르겠을때!</div></div>

        {% for order in orders %}
        <div class="card">
            <div class="card-header">
              {{ order.withwho }} 먹어요
            </div>
            <div class="card-body">
              <h5 class="card-title">날짜 & 시간</h5>
              <p class="card-text">{{ order.restaurant }}/{{ order.menu }}/주문자명</p>
              <p class="card-text">최대 n명중 m명 참여! (m/n)</p>
              <a href="#" class="btn btn-primary">참여하기!</a>
            </div>
        </div>
        {% endfor %}
          
    </div>
    
    
    
    
</body>


</html>