<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <title>먹고해 | 메인페이지</title>
    <style>
        .rightbutton {
            width: 390px;
            
            text-align: right;
        }
        .centerbutton {
            width: 390px;
            
            text-align: center;
        }
        .lefttextbox {
            text-align: left;
        }
    </style>
    <script>

        let orderMode;  //이미 주문을 완료하거나 글쓰기를 한사람한테는 True
        
        function go_signup() {
            window.location.href = '/signup'
        }
        function go_login() {
            window.location.href = '/login'
        }
        // 로그인에 성공해서 토큰이 있는 경우에만 인사하기!
        function hello() {
            $.ajax({
                type: "GET",
                url: "/api/isAuth",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인한 사용자면 닉네임을 보여주는 알람을 띄움!
                        let nickname = response['nickname']
                        alert(`반갑습니다 ${nickname}님!!`)
                    } else {
                        alert(response['msg'])
                        window.location.href = '/login'
                    }
                }
            })
        }

        $(document).ready(function () {
            // 맨 처음 접속시에는 orderMode 가 False입니다.
            orderMode = false;
            showMain()

        });


        function changeParti() {
            if (orderMode == false) {
                alert('참여완료!')
                $('#parti-button').empty()
                $('#parti-button').append('<button id="show-info" onclick="go_order_detail()"> 게시판보기</button>')
                orderMode = true
            }
            
        }
        function go_order_detail() {
            alert('게시판으로갑니다')

        }

        function go_write() {
            $.ajax({
                type: "GET",
                url: "/write",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인한 사용자면 닉네임을 보여주는 알람을 띄움!
                        let nickname = response['nickname']
                        alert(`반갑습니다 ${nickname}님!!`)
                    } else {
                        alert(response['msg'])
                        
                    }
                }
            })
        }
    </script>
</head>

<body>
    <div class = "rightbutton">
        <button>로그아웃</button> <button id = "write-order" onclick = "go_write()">글쓰기</button>
        <div style = "width:180px; border: 1px dotted;"> <div class = "lefttextbox"> 먹고싶은걸 고르셨다면?</div></div>
        <hr width = "100%" color = "black">
        
            <div class = "centerbutton">
                <button> 치킨 </button><button> 햄버거 </button><button> 족발/보쌈 </button><button> 중식 </button> <br>
                <button> 피자 </button><button> 분식 </button><button> 일식 </button><button> 디저트 </button><button> 기타 </button>
            </div>
            <hr width = "100%" color = "black">
        <div style = "width:180px; border: 1px dotted;"> <div class = "lefttextbox"> 뭐 먹을지 모르겠을때!</div></div>

        {% for order in orders %}
        <div class="card">
            <div class="card-header">
              {{ order.withwho }} 먹어요
            </div>
            <div class="card-body">
              <h5 class="card-title">날짜 & 시간</h5>
              <p class="card-text">{{ order.restaurant }}/{{ order.menu }}/주문자명</p>
              <p class="card-text">최대 n명중 m명 참여! (m/n)</p>
              <div id = "parti-button" onclick="changeParti()"> <button> 참여하기</button> </div> 
            </div>
        </div>
        {% endfor %}
          
    </div>
    
    
    
    
</body>


</html>