<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>먹고해 | 메인페이지</title>
    <style>
       
        * {
            font-family: 'Nanum Gothic', sans-serif;
            margin : 5px;
        }
        .wrap {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .rightbutton {
            width: 500px;
            
            text-align: right;
        }
        .centerbutton {
            width: 500px;
            
            text-align: center;
        }
        .lefttextbox {
            text-align: left;
        }
        .centerbutton {
            margin: 5px;
        }
    </style>
    
</head>


<script>

    let orderMode;  //이미 주문을 완료하거나 글쓰기를 한사람한테는 True
    let sort_mode;

    const Sort = {
         BY_ALL: "all",
         BY_CHICKEN: "chicken",
         BY_BURGER: "burger",
         BY_JOKBO: "jokbo",
         BY_CHINA: "china",
         BY_PIZZA: "pizza",
         BY_BOONSIK: "boonsik",
         BY_JAPAN: "japan",
         BY_DESSERT: "dessert",
         BY_ETC: "etc"
    };

    let food_cate_dict = {"치킨": "chicken", "햄버거": "burger", "족발/보쌈":"jokbo", "중식":"china",
                          "피자":"pizza", "분식":"boonsik", "일식":"japan", "디저트":"dessert", "기타":"etc"}

    
    function go_signup() {
        window.location.href = '/signup'
    }
    function go_login() {
        window.location.href = '/login'
    }
    // 로그인에 성공해서 토큰이 있는 경우에만 인사하기!
    function hello() {
        $.ajax({
            type: "GET",
            url: "/api/secure",
            data: {},
            success: function (response) {
                if (response['result'] == 'success') {
                    console.log(response)
                } else {
                    alert(response['msg'])
                    window.location.href = '/login'
                }
            }
        })
    }
    
    function logout() {
        $.ajax({
            type: "GET",
            url: "/logout",
            data: {},
            success: function (response) {
                // 로그아웃이 성공한 경우 페이지 새로고침
                window.location.reload();
            }
        })
    }



    $(document).ready(function () {
        // 맨 처음 접속시에는 orderMode 가 False입니다.
        sort_mode = Sort.BY_ALL
        orderMode = false;
        if (sort_mode == "all") {
            show_prefer(sort_mode)
        }
        hello()
    });


    function changeParti() {
        if (orderMode == false) {
            
            $('#parti-button').empty()
            $('#parti-button').append('<button id="show-info" onclick="go_order_detail()"> 내주문보기</button>')
            orderMode = true
        }
        
    }
    function go_order_detail() {
        
        window.location.href = '/order_detail'

    }

    function go_write() {
        window.location.href = '/write'
    }
    
    function plus_ppl(order_id) {
         console.log(order_id);
         $.ajax({
             type: 'POST',
             url: '/plus',
             data: { order_id: order_id },
             success: function (response) {
                 if (response['result'] == 'success') {
                     // 2. '좋아요 완료!' 얼럿을 띄웁니다.
                     
                     // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
                     //#region showMovie()
            
                    
                 } else {
                     alert('증가 실패ㅠㅠ')
                 }
             }
         });
     }
    

    function plus_member(order_id) {
        $.ajax({
             type: 'POST',
             url: '/add_member',
             data: { order_id: order_id },
             success: function (response) {
                 if (response['result'] == 'success') {
                     
        
                 } else {
                     alert('추가 실패ㅠㅠ')
                 }
             }
         });
    }
    

    function show_prefer(sort_mode) {
        console.log('hey!!!')
        $.ajax({
            type: "GET",
            url: "/list",
            data: {},
            success: function (response) {
                let orders = response["orders"];
                for (let i = 0; i < orders.length; i++) {

                    if (food_cate_dict[orders[i]["food_category"]] == sort_mode || sort_mode == "all") {

                    make_orders(orders[i]["_id"], orders[i]["order_date"],orders[i]["order_time"],
                    orders[i]["food_category"], orders[i]["with_who"], orders[i]["food_shop"], 
                    orders[i]["food_name"], orders[i]["ppl_num_aim"], orders[i]["ppl_num_max"],
                    orders[i]["ppl_num_now"]);
                    }
                }
            }
        })
        $("#orders-list").empty();
    }

    function make_orders(_id, order_date, order_time, food_category, with_who, food_shop, food_name,
    ppl_num_aim,ppl_num_max,ppl_num_now ){
        
        let temp_html = `
        <div class="card">
        <div class="card-header">
          함께먹나요? ${with_who}  
        </div>
        <div class="card-body">
          <h5 class="card-title">${order_date}, ${order_time}</p>
          <p class="card-text">${food_shop}에서 ${food_name}을 시켜요!</p>
          <p class="card-text">최소 ${ppl_num_aim}명 에서 최대 ${ppl_num_max}명까지
            현재인원 ${ppl_num_now}명! </p>
          <div id = "parti-button" onclick="changeParti(); plus_ppl('${_id}'); plus_member('${_id}')"> <button> 참여하기</button> </div> 
        </div>
    </div>`;
    
    $("#orders-list").append(temp_html);

    }

    

    function return_chicken() {
        sort_mode = Sort.BY_CHICKEN
        console.log("취킨")
        change_sorter(sort_mode);
    }

    function return_burger() {
        sort_mode = Sort.BY_BURGER
        console.log("버거")
        change_sorter(sort_mode);
    }

    function return_jokbo() {
        sort_mode = Sort.BY_JOKBO
        console.log("족보")
        change_sorter(sort_mode);
    }
    function return_china() {
        sort_mode = Sort.BY_CHINA
        console.log("중식")
        change_sorter(sort_mode);
    }
    function return_pizza() {
        sort_mode = Sort.BY_PIZZA
        console.log("피자")
        change_sorter(sort_mode);
    }
    function return_boonsik() {
        sort_mode = Sort.BY_BOONSIK
        console.log("분식")
        change_sorter(sort_mode);
    }
    function return_japan() {
        sort_mode = Sort.BY_JAPAN
        console.log("일식~")
        change_sorter(sort_mode);
    }

    function return_dessert() {
        sort_mode = Sort.BY_DESSERT
        console.log("뒤저트~")
        change_sorter(sort_mode);
    }
    function return_etc() {
        sort_mode = Sort.BY_ETC
        console.log("기타")
        change_sorter(sort_mode);
    }

    function change_sorter(sort_mode) {
        
        show_prefer(sort_mode);
        
    }

    

</script>

<body>
<div class="wrap">
    <div class = "rightbutton">
         <!-- 로그인 상태에 따라 로그아웃 또는 로그인 버튼을 표시 -->
        {% if user_email %}
            <p>안녕하세요, {{ user_email }}님!</p>
            <button onclick="logout()" class="btn btn-outline-secondary">로그아웃</button>
            <button id="write-order" onclick="go_write()" class="btn btn-outline-info">글쓰기</button>
        </div>
        {% else %}
        <div class="rightbutton">
            <button onclick="go_login()">로그인</button>
        </div>
        {% endif %}  {# if 블록 닫기 #}
            <div style = "width:180px; border: 1px dotted;"> <div class = "lefttextbox"> 먹고싶은걸 고르셨다면?</div></div>
            <hr width = "100%" color = "black">
            
        

            <div class="centerbutton">
                <button class="btn btn-warning" onclick="return_chicken()" style="margin: 5px;">치킨</button>
                <button class="btn btn-warning" onclick="return_burger()" style="margin: 5px;">햄버거</button>
                <button class="btn btn-warning" onclick="return_jokbo()" style="margin: 5px;">족발/보쌈</button>
                <button class="btn btn-warning" onclick="return_china()" style="margin: 5px;">중식</button><br>
                <button class="btn btn-warning" onclick="return_pizza()" style="margin: 5px;">피자</button>
                <button class="btn btn-warning" onclick="return_boonsik()" style="margin: 5px;">분식</button>
                <button class="btn btn-warning" onclick="return_japan()" style="margin: 5px;">일식</button>
                <button class="btn btn-warning" onclick="return_dessert()" style="margin: 5px;">디저트</button>
                <button class="btn btn-warning" onclick="return_etc()" style="margin: 5px;">기타</button>
            </div>
            
            <hr width = "100%" color = "black">
        <div style = "width:180px; border: 1px dotted;"> <div class = "lefttextbox"> 뭐 먹을지 모르겠을때!</div></div>
        <div id = "orders-list"> </div>   
    </div>
</div>
</body>


</html>