<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .wrap {
            margin: auto;
            width: 900px;
        }

        .title {
            background-color: gainsboro;
            padding: 20px 30px;
        }

        .form-group {
            margin: 10px 0;
        }

        .posting-box {
            margin: 10px auto 30px auto;
            width: 500px;
            border: 3px solid black;
            border-radius: 5px;
            padding: 25px;
        }
    </style>
    <script>
        function signup() {
            $.ajax({
                type: "POST",
                url: "/api/signup",
                data: {
                    email_give: $('#input-email').val(),
                    pw_give: $('#input-password').val(),
                    nickname_give: $('#input-nickname').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }
        function emailCheck(email_address){     
            email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
            if(!email_regex.test(email_address)){ 
                return false; 
            }else{
                return true;
            }
        }

        function validateEmail() {
            var emailInput = document.getElementById('input-email');
            var resultDiv = document.getElementById('result');
        
            var email = emailInput.value;
        
            if (emailCheck(email)) {
                resultDiv.innerHTML = '유효한 이메일 주소입니다.';
            } else {
                resultDiv.innerHTML = '유효하지 않은 이메일 주소입니다.';
            }
        }
    </script>
</head>

<body>
<div class="wrap">
    <div class="title">
        <h1 class="display-4">회원가입</h1>
        <hr class="my-4">
        <div class="posting-box" id="post-box">
            <div class="form-group">
                <label>EMAIL</label>
                <input type="email" class="form-control" aria-describedby="emailHelp"
                       id="input-email" placeholder="이메일을 입력해주세요">
                       <button onclick="validateEmail()">확인</button>
                       <div id="result"></div>
            </div>
            <div class="form-group">
                <label>닉네임</label>
                <input type="email" class="form-control" aria-describedby="emailHelp"
                       id="input-nickname" placeholder="">
            </div>
            <div class="form-group">
                <label>비밀번호</label>
                <input type="password" class="form-control" aria-describedby="emailHelp"
                       id="input-password" autocomplete="current-password" placeholder="">
            </div>
            <button type="submit" onclick="signup()" class="btn btn-primary">회원가입</button>
        </div>
    </div>
</div>
</body>

</html>