<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <title>회원가입</title>
    <style>
        * {
            font-family: 'Nanum Gothic', sans-serif;
        }

        .wrap {
            width: 500px;
            margin: 20px auto 0 auto;
        }

    </style>
    <script>
        function signup() {
            var email = $('#input-email').val();
            var nickname = $('#input-nickname').val();
            var password = $('#input-password').val();
            
            if (!emailCheck(email)) {
                alert('유효하지 않은 이메일 주소입니다.');
                return;
            }
            
            if (!nickname) {
                alert('닉네임을 입력하세요.');
                return;
            }
            
            if (!password) {
                alert('비밀번호를 입력하세요.');
                return;
            }
            
            $.ajax({
                type: "POST",
                url: "/api/signup",
                data: {
                    email_give: email,
                    pw_give: password,
                    nickname_give: nickname
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.');
                        window.location.href = '/login';
                    } else {
                        alert(response['msg']);
                    }
                }
            });
        }
    
        function emailCheck(email_address) {
            email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
            return email_regex.test(email_address);
        }
    </script>
</head>

<body>
    <div class="wrap">
        <div class="title">
            <h1 class="display-4">회원가입</h1>
            <hr class="my-4">
            <div class="posting-box" id="post-box">
                <div class="form-group">
                    <label>EMAIL</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" id="input-email" placeholder="이메일을 입력해주세요">
                    <div id="result"></div>
                </div>
                <div class="form-group">
                    <label>닉네임</label>
                    <input type="text" class="form-control" 
                    id="input-nickname" placeholder="" oninvalid="this.setCustomValidity('닉네임를 입력하세요.')" required>
                </div>
                <div class="form-group">
                    <label>비밀번호</label>
                    <input type="password" class="form-control" aria-describedby="emailHelp" 
                    id="input-password" autocomplete="current-password" placeholder="" 
                    oninvalid="this.setCustomValidity('비밀번호를 입력하세요.')" required>
                </div>
                <div id="signup-button">
                    <button type="submit" class="btn btn-primary" onclick="signup()">회원가입</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>