<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
    <title>먹고해 | 글쓰기페이지</title>
    <style>
        .rightbutton {
            width: 390px;
            
            text-align: right;
        }
        .centerbutton {
            width: 390px;
            
            text-align: center;
        }
        .lefttextbox {
            text-align: left;
        }
        .inlining {
          display: inline;
        }
    </style>


</head>

<script>

  $(document).ready(function () {
              hello()
          });

  function write_order() {
      var order_date = $('#order_date').val();
      var order_time = $('#order_time').val();
      var food_category = $("select[id=food_category] option:selected").text();
      var with_who = $("select[id=with_who] option:selected").text();
      var food_shop = $('#food_shop').val();
      var food_name = $('#food_name').val();
      var ppl_num_aim = $('#ppl_num_aim').val();
      var ppl_num_max = $('#ppl_num_max').val();
      console.log(order_date, order_time)
      $.ajax({
          type: "POST",
          url: "/write",
          data: {
            'order_date': order_date,
            'order_time': order_time,
            'food_category': food_category,
            'with_who': with_who,
            'food_shop': food_shop,
            'food_name': food_name,
            'ppl_num_aim': ppl_num_aim,
            'ppl_num_max': ppl_num_max,
            'ppl_num_now': 1
          },
          success: function (response) {
              console.log(response)
              if (response['result'] == 'success') {

                  alert('업로드 되었습니다. 메인페이지로 이동합니다.');
                  window.location.href = '/';
              } else {
                  alert(response['msg']);
              }
          }
      });
  }
  function hello() {
            $.ajax({
                type: "GET",
                url: "/api/secure",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인한 사용자면 닉네임을 보여주는 알람을 띄움!
                        let nickname = response['nickname']
                        alert(`반갑습니다 ${nickname}님!!`)
                    } else {
                        alert(response['message'])
                        window.location.href = '/login'
                    }
                }
            })
        }
  function logout() {
    $.ajax({
                type: "GET",
                url: "/logout",
                data: {},
                success: function (response) {
                    // 로그아웃이 성공한 경우 페이지 새로고침
                    window.location.reload();
                }
            })
        }
  
</script>

<body>
    <div class = "rightbutton">

         <!-- 로그인 상태에 따라 로그아웃 또는 로그인 버튼을 표시 -->

      {% if 'email' in session %}
      <button onclick="logout()">로그아웃</button>
      {% else %}
      <button onclick="go_login()">로그인</button>
      {% endif %}  {# if 블록 닫기 #}

        <div class="input-group mb-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">날짜</span>




        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">날짜</span>
          </div>
          <input type="date" id="order_date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">시간</span>
          </div>
          <input type="time" id="order_time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">카테고리선택</label>
          <select multiple class="form-control" id="food_category">
            <option>치킨</option>
            <option>햄버거</option>
            <option>족발/보쌈</option>
            <option>중식</option>
            <option>피자</option>
            <option>분식</option>
            <option>일식</option>
            <option>디저트</option>
            <option>기타</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">함께먹나요?</label>
          <select multiple class="form-control" id="with_who">
            <option>네</option>
            <option>아니오</option>
          </select>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">식당이름</span>
          </div>
          <input type="text" id="food_shop" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >메뉴이름</span>
          </div>
          <input type="text" id="food_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >목표인원</span>
          </div>
          <input type="text" id="ppl_num_aim" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>




        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >최대인원</span>
          </div>
          <input type="text" id="ppl_num_max" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
          
        <button onclick="write_order()">입력하기</button> 
          
    </div>
    
    
    
    
</body>


</html>